<div class="container">
        <div class="row">
            <div class="card">
                <h5 class="card-header" id="blog-title">title</h5><p class="card-header" id="username">name</p>
                <div class="card-body">
                    <p class="card-text" id="blog-content">content</p>
                </div>
            </div>

            <form style="margin-top: 5%;">
                <div class="form-group">
                    <h3 for="exampleFormControlInput1">Title</h3>
                    <input type="text" class="form-control" id="reviewTitle" placeholder="title">
                </div>
                <div class="form-group" >
                    <h3 for="comment">Comment</h3>
                    <textarea class="form-control" id="comment" rows="3"></textarea>
                </div>
                <button type="submit" href="./search.html" class="btn btn-primary" style="margin-top: 3%;">Submit</button>
            </form>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>