  <div class="container">
  <div style="text-align: center;"><img id="frontLogo"
        src="https://api.freelogodesign.org/files/12d3fe6a97424dd397f175ad3e6f39b8/thumb/logo_200x200.png?v=0" /></div>
<h1 style="margin-bottom: 3%;">Login </h1>
 <form class="login-form" method="post">
  <div class="container">
    <label for="uname"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="name" id="username" style="margin-left: 3%;"></br>
    <label for="psw" style="margin-top: 3%;"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="password" style="margin-left: 3%;"></br>
    <button type="submit" style="margin-top: 3%;" class="btn btn-info">Login</button></br>
    <label style="margin-top: 3%;">
      <input type="checkbox" checked="checked" name="remember" > Remember me
    </label>
  </div>
  </form>
  </div>
  <script src="js/login.js"></script>